@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  -webkit-appearance: none; 
  width: 80%;
  height: 5px;
  background: #ececec;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}